.env
.dbenv
dbenv.py
build
dist
*.exe
.ipynb_checkpoints
__pycache__
.env_db
.env_db2
env_db2
exdbinfo.py
movie_title_data.tsv
*.tsv
*.keras
model
*.models
*.safetensors
C:/fintech_service/06_machine_learning/mini_project/data/
/06_machine_learning/mini_project/data/
*.zip
*.pdf
C:/fintech_service/06_machine_learning/project2/data/
06_machine_learning/project2/data/
C:/fintech_service/streamlit/data/
fintech_service/streamlit/data/
06_machine_learning/project2/data/
streamlit/streamlit/data/
streamlit/data/
06_machine_learning/project2/*.csv
06_machine_learning/project2/apartment_price_1999_2024.csv
streamlit/model.py
C:/fintech_service/test/023.국회 회의록 기반 지식검색 데이터
C:/fintech_service/09_time_series/data
C:/fintech_service/09_time_series/data/*.csv
C:/fintech_service/project
/project
C:/fintech_service/09_time_series/data
*.csv